body{
    background-color: black;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    /* text-align: center; */
}
.logo-img{
    height:50px;
    width: 50px;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.logo1-img{
  margin-left: 10px;
    height:50px;
    width: 20%;
}
.accurate{
    color: #6e09ee;
}

.btn {
    background: #6e09ee;
    background-image: -webkit-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -moz-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -ms-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -o-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: linear-gradient(to bottom, #6e09ee, #6e09ee);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 100px;
  }
  
  .btn:hover {
    background: #8784e3;
    background-image: -webkit-linear-gradient(top, #8784e3, #8784e3);
    background-image: -moz-linear-gradient(top, #8784e3, #8784e3);
    background-image: -ms-linear-gradient(top, #8784e3, #8784e3);
    background-image: -o-linear-gradient(top, #8784e3, #8784e3);
    background-image: linear-gradient(to bottom, #8784e3, #8784e3);
    text-decoration: none;
  }

  .btn1 {
    background: #050505;
    background-image: -webkit-linear-gradient(top, #050505, #050505);
    background-image: -moz-linear-gradient(top, #050505, #050505);
    background-image: -ms-linear-gradient(top, #050505, #050505);
    background-image: -o-linear-gradient(top, #050505, #050505);
    background-image: linear-gradient(to bottom, #050505, #050505);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #050505;
    background-image: -webkit-linear-gradient(top, #050505, #050505);
    background-image: -moz-linear-gradient(top, #050505, #050505);
    background-image: -ms-linear-gradient(top, #050505, #050505);
    background-image: -o-linear-gradient(top, #050505, #050505);
    background-image: linear-gradient(to bottom, #050505, #050505);
    text-decoration: none;
    color: #6e09ee;
  }
  .color-badla{
    color: #fff;
  }
  .btn2 {
    background: #6e09ee;
    background-image: -webkit-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -moz-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -ms-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: -o-linear-gradient(top, #6e09ee, #6e09ee);
    background-image: linear-gradient(to bottom, #6e09ee, #6e09ee);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #8784e3;
    background-image: -webkit-linear-gradient(top, #8784e3, #8784e3);
    background-image: -moz-linear-gradient(top, #8784e3, #8784e3);
    background-image: -ms-linear-gradient(top, #8784e3, #8784e3);
    background-image: -o-linear-gradient(top, #8784e3, #8784e3);
    background-image: linear-gradient(to bottom, #8784e3, #8784e3);
    text-decoration: none;
  }
  .content-div{
    margin-top: 8%;
  }
  /* .feature-box1{
    /* margin-top: 10%; */
    /* padding-left: 0px; */
  
  .title-h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.3rem;
    line-height: 1.15;
  }
  #final-prediction{
    margin-top: 7%;
  }
  .content-h2{
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    /* color: #6e09ee; */
  }
  .contact{
    color: white;
    text-decoration: none;
  }
  .content-div-p{
    margin-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
  }
  .heading{
    color: #6e09ee;
    font-family: 'Roboto', sans-serif;
  }
  #features{
    padding-top: 7%;
  }
  .label-content{
    margin-bottom: 2%;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .formss{
    margin-bottom: 2%;
  }
  .predict-text{
    color: #6e09ee;
  }
  .centerkardete{
    text-align: center;
  }
  .con{
    font-family: 'Source Sans Pro', sans-serif;
  }
  .feature-icon{
    padding-bottom: 2%;
  }
#contactus{
    padding-top: 3%;
    text-align: center;
    text-decoration: none;
}
#footers{
  text-align: center;
}
.copyright{
  color: #6e09ee;
}
.aofcontact{
    color: #fff;
}
.aofcontact:hover{
    color: #8784e3;
}
.aurat-img{
    border-radius: 100%;
    width: 85%;
}
.wrapping{
    float: left;
    margin-right: 0.5rem;
    color: #6e09ef;
    margin-top: 3.5%;
}
.wrapping1{
    float: right;
    margin-left: 0.2rem;
    color: #6e09ef;
    margin-top: 1%;
}
.manage{
    color: #6e09ee;
}
.management-h1{
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
    font-size: 3rem;
}
.management-p{
    line-height: 1.5;
    font-size: 1rem;
}
.management-div2{
    margin-top: 3%;
}
.management-h5{
    color: #6e09ee;
}
/* #stock-news{
  text-align: center;
} */
.news-img{
  width: 70%;
  height: 70%;
  margin-top: 5%;
  margin-left: 7%;
}
.uper{
    margin-top: 20px;
  color: #6e09ef ;
}

.vfinal{
   margin: 20px 2px 20px 2px;
   align-items: right;
}

.vinitial{
  margin: 2px 2px 20px 2px;
}

.time{
  margin: 2px 2px 20px 2px;
}

.net-income{
  margin: 20px 2px 20px 2px;
}

.Total-shares{
 margin: 2px 2px 20px 2px;
}

.current-share{
 margin: 2px 2px 20px 2px;
}

.row{
  align-items: right;
}
/* .btn1{
  margin-top: 20px;
  background: #6e09ef;
} */

.row{
  text-align: left;
}
.heading2{
  text-align: center;
}
/* .aofcontect2{
  text-align: center;
} */
.rowwer{
  text-align: center;
}
.output, .output1{
  text-align: center;
  margin-top: 1%;
}