<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISUAL ANALYTICS</title>
    <style>
        h3{
            text-align: center;
            color: #6e09ef;
            font-size: xx-large;
        }
        .image{
            width: 30%;
            height: 20%;
        }
    </style>
</head>
<body>
    <h3>
        PIE CHART & LIVE PREDICTION GRAPH
    </h3>
    <img src="" class="image"></img>
    <img src="" class="image"></img>
</body>
</html>